builddir/*
build/*
flottekarte/extensions/libflottekarte.so
subprojects/libprojwrap/
flottekarte/extensions/src
flottekarte/extensions/include
flottekarte/extensions/subprojects
flottekarte/extensions/meson.build